{% extends "index.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}


<div class="flex h-screen">
    {% include "sidebar.html" %}

    <!-- Main Content -->
    <div class="flex-1 p-6 overflow-y-auto">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold">Today <span class="text-gray-500">5</span></h1>
            <a href={% url "create_task" %} class="bg-blue-500 text-white px-4 py-2 rounded">+ Add New Task</a>
        </div>
        <div class="flex flex-col gap-5">

            <!-- Task List -->
            {% for t in tasks %}
            <p class="w-96 text-left p-2 hover:bg-gray-200 rounded">{{t.title}}</p>
           {% endfor %}

            
        </div>
    </div>
</div>

{% endblock content %}